@import "../../styles/variables";

header.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height;
  width: 100%;
  background-color: rgb(130, 235, 10);
  .search-box {
    padding: 0.5rem;
  }
  .items {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0.8rem;
  }
  .login .account {
    border-right: 1px solid black;
  }
  .search-box__query {
    width: 11 rem;
    height: 1.8rem;
    padding: 1.3rem;
  }
  .search-icon {
    position: absolute;
    left: 0.8rem;
    top: 1.5rem;
    cursor: pointer;
  }
  .cart {
    border: 1px solid black;
  }
}
